*{margin: 0; padding: 0; box-sizing: border-box;text-decoration: none; border: none;outline: none;}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    background-color: rgb(22, 22, 22);
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
}

a{
    color: aliceblue;
}

p{
    margin-top: auto;
    margin-bottom: auto;
    color: aliceblue;
}

/* Criando header fixo */
header{
    display: flex;
    width: 100%;
    height: 20%;
    position: fixed;
    justify-content: space-around;  
    align-items: center;
    transition: 0.5s ease;
    /* Ùtilizei o z-index para sobrepor o header. */
    z-index: 5;
}

/* Header reestilisado com a classe criada com js */
header.rolagem{
    height: 10%;
    background-color: rgb(37, 0, 61);
}

.titulo{
    font-size: x-large;
    font-weight: bold;
}

/* Configurações da navbar */
nav{
    display: flex;
    justify-content: space-around;
    white-space: nowrap;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 3rem;
}

.nav-links{
    transition: color 0.5s ease;
    margin-right: 10%;
    cursor: pointer;
}

.nav-links:hover{
    color: rgb(195, 30, 236);
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

main{
    padding-top: 10%;
}


.grap{
    display: flex;
}

/* Formas // Efeitos */

.triangle {
    margin-top: auto;
    margin-bottom: auto;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 150px 0 150px 300px;
    border-color: transparent transparent transparent #969696c7;
    transform: rotate(0deg);

    animation: rightSlide 2s ease 0s normal forwards;
 }

 .triangle02 {
    margin-top: auto;
    margin-bottom: auto;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 100px 0 100px 200px;
    border-color: transparent transparent transparent #969696c7;
    transform: rotate(0deg);
    margin-left: -6rem;

    animation: rightSlide 3s ease 0s  normal forwards;
 }

 .triangle03 {
    margin-top: auto;
    margin-bottom: auto;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 50px 0 50px 100px;
    border-color: transparent transparent transparent #969696c7;
    transform: rotate(0deg);
    margin-left: -3rem;

    animation: rightSlide 4s ease 0s normal forwards;
 }

 /* Responsividade */

 @media screen and (max-width: 730px){
    nav ul{
        display: none;
    }

    .mobile-menu-icon{
        display: block;
    }

    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul{
        display: flex;
        width: 100%;
        position: fixed;
        flex-direction: column;
        text-align: center;
        z-index: 5;
        backdrop-filter: blur(10px);
    }

    .mobile-menu .nav-links{
        display: block;
        padding-top: 1.2rem;
        animation: showing 4s ease 0s normal forwards;
    }

    .open{
        display: block;
    }

    main{
        padding-top: 20%;
    }

    .triangle{
        border-width: 75px 0 75px 150px;
    }

    .triangle02{
        border-width: 50px 0 50px 100px;
        margin-left: -4rem;
    }

    .triangle03{
        border-width: 25px 0 25px 50px;
        margin-left: -2rem;
    }
}

/* Animações */

@keyframes showing {
    0% {
        color: transparent;
    }

    100% {
       /* color: aliceblue; */
    }
}

@keyframes rightSlide {
    0% {
        border-color: transparent transparent transparent transparent;
        transform: translateX(-5rem);
    }
  
    100% {
      transform: translateX(2rem);
    }
  }
  