*{margin: 0; padding: 0; box-sizing: border-box;text-decoration: none; border: none;outline: none;}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    background-color: rgb(22, 22, 22);
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
}

a{
    color: aliceblue;
}

p{
    margin-top: auto;
    margin-bottom: auto;
    color: aliceblue;
}

/* Criando header fixo e configurando ele */
header{
    display: flex;
    width: 100%;
    height: 20%;
    position: fixed;
    justify-content: space-around;  
    align-items: center;
    transition: 0.5s ease;
    /* Ùtilizei o z-index para sobrepor o header. */
    z-index: 5;
}

/* Header reestilisado com a classe criada com js */
header.rolagem{
    height: 10%;
    background-color: rgb(37, 0, 61);
}

.titulo{
    font-size: x-large;
    font-weight: bold;
}

/* Configurações da navbar */
nav{
    display: flex;
    justify-content: space-around;
    white-space: nowrap;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 3rem;
}

.nav-links{
    transition: color 0.5s ease;
    margin-right: 10%;
    cursor: pointer;
}

.nav-links:hover{
    color: rgb(195, 30, 236);
}

/* Mobile menu */
.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

/* Colocando uma distância do main com o topo da pagina */
main{
    padding-top: 10%;
}

.hello{
    display: flex;
    flex-direction: column;
    
}

.row{
    display: flex;
    justify-content: space-around;
}

.curriculoDownload{
    display: flex;
    align-items: center;
    border-radius: 25px;
    height: 3rem;
    width: fit-content;
    padding: 1.5rem;
    margin-inline: auto;
    color: aliceblue;
    background-color: rgb(151, 23, 184);
    transition: 1.2s ease;
}

.curriculoDownload:hover{
    cursor: pointer;
    background-color: rgb(195, 30, 236);
    box-shadow: 0px 6px 12px 0px rgba(117, 16, 128, 1);
}

/* Configuração da foto */
.foto-port{
    width: 20rem;
    height: 20rem;
    transition: 1.2s ease;
    animation: showing 1.5s ease 0s normal forwards;
}

.foto-port:hover{
    scale: 1.1;
}

.grap{
    display: flex;
}

.tituloSessao{
    margin-top: -2.7rem;
    filter: drop-shadow(5px 5px 5px rgb(195, 30, 236));
    font-size: xx-large;
    font-weight: bold;
    transition: 1.2s ease;
}

/* Hover sessao title */
.tituloSessao:hover{
    scale: 1.2;
    filter: drop-shadow(10px 5px 10px rgb(195, 30, 236));
}

.sessaoCompetencias{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
    padding: 1.5rem;
    flex-direction: column;
    box-shadow: 0 0 50px rgb(28, 7, 46);
    background-color: rgb(9, 2, 15);

}

.container{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    gap: 3rem;
}

.competencias{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;    
}

.competencia{
    display: flex;
    padding: 1.5rem;
    width: 8rem;
    height: 8rem;
    /* clip-path: polygon(56% 0, 68% 15%, 98% 18%, 99% 78%, 58% 100%, 31% 81%, 0 61%, 8% 16%); */
    border-radius: 25px 0 0 0; 
    box-shadow: 5px 12px 10px -4px rgba(117, 16, 128, 1);
    flex-direction: column;
    background-color: rgb(29, 29, 29);
    transition: 0.5s ease;
    animation: showing 1.5s ease 0s normal forwards;

}

.competencia:hover{
    scale: 1.2;
    box-shadow: 3px 12px 50px 5px rgba(117, 16, 128, 1);
}

.tituloCompetencia{
    font-size: large;
    color: blueviolet;
    text-align: center;
}

/* Formas // Efeitos */

.triangle {
    margin-top: auto;
    margin-bottom: auto;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 150px 0 150px 300px;
    border-color: transparent transparent transparent #96969683;
    transform: rotate(0deg);

    animation: rightSlide 2s ease 0s normal forwards;
 }

 .triangle02 {
    margin-top: auto;
    margin-bottom: auto;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 100px 0 100px 200px;
    border-color: transparent transparent transparent #96969679;
    transform: rotate(0deg);
    margin-left: -6rem;

    animation: rightSlide 3s ease 0s  normal forwards;
 }

 .triangle03 {
    margin-top: auto;
    margin-bottom: auto;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 50px 0 50px 100px;
    border-color: transparent transparent transparent #96969673;
    transform: rotate(0deg);
    margin-left: -3rem;

    animation: rightSlide 4s ease 0s normal forwards;
 }

 /* Responsividade */

 @media screen and (max-width: 730px){

    header{
        height: 15%;
    }

    nav ul{
        display: none;
    }

    .mobile-menu-icon{
        display: block;
    }

    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul{
        display: flex;
        width: 100%;
        height: 100%;
        position: fixed;
        flex-direction: column;
        text-align: center;
        z-index: 5;
        backdrop-filter: blur(10px);
    }

    .mobile-menu .nav-links{
        display: block;
        padding-top: 1.2rem;
        animation: showing 4s ease 0s normal forwards;
    }

    .open{
        display: block;
    }

    main{
        padding-top: 20%;
    }

    .grap{
        margin-left: 5rem;
    }

    .foto-port{
        width: 8rem;
        height: 8rem;
    }

    .triangle{
        border-width: 65px 0 65px 120px;
    }

    .triangle02{
        border-width: 50px 0 50px 100px;
        margin-left: -4rem;
    }

    .triangle03{
        border-width: 25px 0 25px 50px;
        margin-left: -2rem;
    }

    .container{
        gap: 1.2rem;
    }

    .competencias{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }
}

/* Animações */

@keyframes showing {
    0% {
        transform: translateY(2rem);
        background-color: transparent;
        color: transparent;
    }

    100% {
       
    }
}

@keyframes rightSlide {
    0% {
        border-color: transparent transparent transparent transparent;
        transform: translateX(-10rem);
    }
  
    100% {
      transform: translateX(-6rem);
    }
  }
